:root {
    --cor-de-fundo:rgb(12, 191, 245);
    --verde: #57bcff;
    --branco: #0095f8;
    --botao-ativo: #198bb8;
    --botao-inativo: rgba(0, 121, 168, 0.5);
    --texto-fundo: rgb(0, 131, 238);
}

body{
    background-color: var(--cor-de-fundo);
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.botao {
    font-family: 'Chakra Petch', sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}


