:root{
    --cor-de-fundo:linear-gradient(180deg, rgba(0,11,50,1) 0%, rgb(255, 94, 0) 18%, #36363659 55%);
    --cor-da-fonte: #FFFF;
    --vermelho: #41a4e6;
    --botao-ativo:#5967e7;
    --botao-inativo:#0275aa;
    }
    
    body{
        background: rgb(10, 154, 250);
        background: var(--cor-de-fundo);
        background-repeat: no-repeat;
        height: 100vh;
    
        color: var(--cor-da-fonte);
        font-family: "Cormorant Garamond", serif;
        font-weight: 1000;
        font-style: normal;
    }
    
    .conteudo-principal{
        display: flex;
    }

    .botao:first-child {
        border-radius: 40px 0 0 0;
    }

    .botao:last-child {
        border-radius: 0 40px 0 0;
    }
}

