body{
    background-image: linear-gradient(rgb(0, 210, 247), rgb(1, 191, 238),rgb(1, 173, 216),rgb(0, 140, 158),rgb(0, 68, 85));
    margin: 100%;
    width: 100%;
}

:root {
    --cor-de-fundo:rgb(12, 191, 245);
    --verde: #57a0ff;
    --branco: #FFFFFF;
    --botao-ativo: #0793f0;
    --botao-inativo: rgba(30, 146, 192, 0.5);
    --texto-fundo: rgba(0, 213, 255, 0.459);
}


.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.botao {
    font-family: 'Chakra Petch', sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}

